
.login__container {
  align-items: center;
  background-color: #403956;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login__title {
  color: #ffffff;
  text-align: start;
  font-size: 3rem;
}

.login__form {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  width: 90%;
}
.login__label {
  display: flex;
  color: white;
  flex-direction: column;
  width: 90%;
}
.login__input {
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.329);
  color: white;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  outline: none;
  width: 100%;
}
.login__input::placeholder {
  color: silver;
}
#pass__label {
  margin-bottom: 5rem;
}
.login__button {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  bottom: 230px;
  border: 2px solid rgba(255, 255, 255, 0.329);
  opacity: 0.8;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.8rem;
  width: 10rem;
}

.disabled-login-btn {
  background-color: #403956;
  color: #F4F3F7;
  opacity: 0.9;
}
.login-button {
  background-color: #F4F3F7;
  color:#1B1825;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.login__link {
  color: aliceblue;
  margin-top: 2rem;
}
